

row {
  padding: 10px;

}
footer{
  display: flex;
}

.display{
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 40px;
  text-align: center;
}

.block {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 90%;
  height: 90%;
  background-color: lightgray
}

.TEAMIMAGE{
  width:400px;
}
.MEMBERS{
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  font-size: 30px;

}
.DANIELA{
  width: 200px
}
.SAM{
  width: 200px;
  height: 170px;
}
.TJ{
  width: 190px;
  transform: rotate(90deg);
}
.jumbotron {
  position: relative;
  z-index: 50;
}

.transparent {
  opacity: 0.2;
  background-color: gray;
  position: relative;
  z-index: 100;
}
.carouselItem {
  align-items: center;
  align-self: center;
  align-content: center
}
.black-text {
  color: black;
}
.mdl-mini-footer {
  justify-content: flex-end;
}

.big {
  font-size: 64;
  text-align: center;
  color: darkgray;
}
.h1{
  color: white;
}
.form-control {

}
.form-group{
  color: white;
}
.container-fluid {
  background-color: white;
  align-self: center;
  width: 90%;
  color: black;
  padding: 20px;
}

.border {
  border-color: gray;
}
.smaller {
  width: 40% !important;
}
col {
  padding: 10px
}
.flex-signup {
  display: flex;
  flex-direction: column;
  color: white;
}
.signupbutton {
  width: 40px;
  height: 40px;
}
.title{
  display: flex;
  flex-direction: row;
  color: white;
}
.user {
  visibility: visible
}
.imageup{
  width: 200px;
  text-align: center;
  margin:0 auto;
}
.form-check{
  color: white;
}

.demo-card-image.mdl-card {
  width: 650px;
  height: 256px;
  background: url('../assets/demos/image_card.jpg') center / cover;
}

.demo-card-image > .mdl-card__actions {
  height: 50px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
ul {
  list-style-type: none;
}

.demo-card-event.mdl-card {
  width: 650px;
  background: #3E4EB8;
  align-self: center;
  justify-content: center;
  align-content: center;
}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.profile_info{
  color: white;
}
.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}

.demo-layout-transparent {
  background: url('../assets/demos/transparent.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
.fa {
padding: 20px;
font-size: 30px;
width: 30px;
text-align: center;
text-decoration: none;
border-radius: 50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
