<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/about.css">
    <title>About Page</title>
  </head>
  <body>

        <div>
          <h1>Welcome to OrgSpace</h1>
        <div>

        <div class="">
          <div class="">
            Mission
          </div>
          <div class="">
            Vision
          </div>
        </div>


        <div class="">
          <h1>Find Others Like You</h1>
          <p>At Orgspace you will find a host of people committed to making a positive impact on society. Get inspired on our search page. </p>
        </div>

        <div class="">
          <h1>Locate,Create and Attend Community Events</h1>
          <p>Host events and let the community feel your presence. Also, with our map feature, you can help support local organizers and attend events close to your current location. </p>
        </div>

        <div class="">
          <h1>Collaborate With Other Organizers</h1>
          <p>If you're an established organizer, you can pool resources with other organizers and maximise your reach.</p>
        </div>

        <div class="">
          <h1>Donate to Good Causes</h1>
          <p>Give a helping hand and support organizers having events in your community. You never know whose life you will impact.</p>
        </div>

        <footer class="">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
        </footer>



  </body>
</html>
