
<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
      <title>Quiz</title>
  </head>
  <body>
    <h1 class="jumbotron">Which CSSI member are you?</h1>
    <h3>Answer the following questions to find out which member of CSSI you are!</h3>
    <div class="form-group">
    <form method="POST" action="/">

      <h4> What do you do during the CSSI breaks? </h4>

      <div class="form-check">
        <br>
        <input class="form-check-input" type="radio" value="isa" name="breaks"  >
        <label class="form-check-label" for="exampleRadios1">
          Go to the bathroom
          <!-- isa -->
        </label>
      </div>
      <br>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="tj" name="breaks"  >
        <label class="form-check-label" for="exampleRadios1">
          Fiend everyone in ping pong
          <!-- tj -->
        </label>
      </div>
      <br>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="isaac" name="breaks"  >
        <label class="form-check-label" for="exampleRadios1">
          Make lattes
          <!-- isaac -->
        </label>
      </div>
      <br>
      <h4> Where can people find you during free time at the dorms? </h4>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="adam" name="dorms"  >
        <label class="form-check-label" for="exampleRadios1">
          Planning movie nights at CV2
          <!-- adam -->
        </label>
      </div>
      <br>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="erin" name="dorms"  >
        <label class="form-check-label" for="exampleRadios1">
          Playing or coding egyptian rat screw
          <!-- erin -->
        </label>
      </div>
      <br>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="sam" name="dorms"  >
        <label class="form-check-label" for="exampleRadios1">
          Sneaking snacks from the lounge for your personal dorm stash
          <!-- sam -->
        </label>
      </div>
      <br>
      <h4> What's your default reponse in conversations? </h4>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="adam" name="convo"  >
        <label class="form-check-label" for="exampleRadios1">
          Oof
          <!-- adam -->
        </label>
      </div>
      <br>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="isa" name="convo"  >
        <label class="form-check-label" for="exampleRadios1">
          Sarcastic laugh
          <!-- isa -->
        </label>
      </div>
      <br>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="dani" name="convo"  >
        <label class="form-check-label" for="exampleRadios1">
          Nice
          <!-- dani -->
        </label>
      </div>
      <br>
      <h4> What do you do to stay active? </h4>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="erin" name="active"  >
        <label class="form-check-label" for="exampleRadios1">
          Beating all the google employees in basketball
          <!-- erin -->
        </label>
      </div>
      <br>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="dani" name="active"  >
        <label class="form-check-label" for="exampleRadios1">
          Running to the bus before you get left behind
          <!-- dani -->
        </label>
      </div>
      <br>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="sam" name="active"  >
        <label class="form-check-label" for="exampleRadios1">
          Randomly riding the lime scooters
          <!-- sam -->
        </label>
      </div>
      <br>
      <h4> What is your morning routine? </h4>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="isaac" name="morning"  >
        <label class="form-check-label" for="exampleRadios1">
          Wondering why your alarm didn't wake you up until 6:50
          <!-- isaac -->
        </label>
      </div>
      <br>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="dani" name="morning"  >
        <label class="form-check-label" for="exampleRadios1">
          Running downstairs at 7:10
          <!-- dani -->
        </label>
      </div>
      <br>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="adam" name="morning"  >
        <label class="form-check-label" for="exampleRadios1">
          Waiting in the lobby before everyone shows up
          <!-- adam -->
        </label>
      </div>
      <br>
      <h4> What do people use to make fun of you?</h4>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="isa" name="fun"  >
        <label class="form-check-label" for="exampleRadios1">
          Pictures of your facial expressions
          <!-- isa -->
        </label>
      </div>
      <br>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="erin" name="fun"  >
        <label class="form-check-label" for="exampleRadios1">
          Your dares in truth or dare
          <!-- erin -->
        </label>
      </div>
      <br>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="isaac" name="fun"  >
        <label class="form-check-label" for="exampleRadios1">
          Pictures in photo roulette
          <!-- isaac -->
        </label>
      </div>
      <br>
      <h4> What do you do when you pass by someone? </h4>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="tj" name="intro"  >
        <label class="form-check-label" for="exampleRadios1">
          Say hi
          <!-- tj -->
        </label>
      </div>
      <br>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="sam" name="intro"  >
        <label class="form-check-label" for="exampleRadios1">
          Stare at them
          <!-- sam -->
        </label>
      </div>
      <br>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="adam" name="intro"  >
        <label class="form-check-label" for="exampleRadios1">
          Ask if they need something
          <!-- adam -->

        </label>
      </div>
      <br>
      <h4> What is your most defining quality?</h4>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="tj" name="quality"  >
        <label class="form-check-label" for="exampleRadios1">
          Good at everything
          <!-- tj -->
        </label>
      </div>
      <br>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="sam" name="quality"  >
        <label class="form-check-label" for="exampleRadios1">
          Extremely social
          <!-- sam -->
        </label>
      </div>
      <br>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="dani" name="quality"  >
        <label class="form-check-label" for="exampleRadios1">
          Participates in everything
          <!-- dani -->

        </label>
      </div>
      <br>
      <h4> What do you talk about the most?</h4>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="isaac" name="talk"  >
        <label class="form-check-label" for="exampleRadios1">
          Public policy and how it relates to CS
          <!-- isaac -->
        </label>
      </div>
      <br>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="sam" name="talk"  >
        <label class="form-check-label" for="exampleRadios1">
          The GroupMe polls
          <!-- sam -->
        </label>
      </div>
      <br>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="guitar" name="talk"  >
        <label class="form-check-label" for="exampleRadios1">
          Guitar
          <!-- tj -->

        </label>
      </div>
      <br>
      <h4> What can you be found doing at a CV2 hangout?</h4>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="erin" name="hangout"  >
        <label class="form-check-label" for="exampleRadios1">
          Doing fire dance moves
          <!-- erin -->
        </label>
      </div>
      <br>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="isa" name="hangout"  >
        <label class="form-check-label" for="exampleRadios1">
          Talking to people on the couch
          <!-- isa -->
        </label>
      </div>



<br>

      <input class="form-control" type="submit" name="submit" value="Calculate my Result" style="background-color:lightblue"/>

  </form>

  </div>

<br>
<br>

  </body>

  </html>
