
<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
      <title>Add Event</title>
  </head>
  <body>
    <h1>Add event</h1>
    <h3>Fill out the information for your event!</h3>
    <div class="form-group">
    <form method="POST" action="/addEvent">
      <br>
      <h4> Title of Event </h4>

      <div class="form-check">
        <br>
        <input type="text" name="title" placeholder = "Title">
      </div>
      <br>
      <h4> Date of Event </h4>

      <div class="form-check">
        <br>
        <input type="date" name="date">
      </div>
      <br>
      <h4> Time of Event </h4>

      <div class="form-check">
        <br>
        <input type="time" name="time">
      </div>
      <br>
      <h4> Location of Event </h4>

        <br>
        <input type="text" name="location">
      <br>
        <input type="file" name="pic" accept="image/*" value="">



<br>

      <input class="form-control" type="submit" name="submit" value="Create Event" style="background-color:lightblue"/>

  </form>

  </div>

<br>
<br>

  </body>

  </html>
