
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
      <title>Add Event</title>
  </head>
  <body style="text-align:center; color: white;">
    <h1>Add event</h1>
    <h3>Fill out the information for your event!</h3>

          <form method="POST" action="/addEvent">
            <br>

    <div class="form-group" style="text-align:center; color: white;">
    <form method="POST" action="/addEvent">
      <br>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="title" name="title">
    <label class="mdl-textfield__label" for="title">Title of Event</label>
    </div>
      <br>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="date" id="date" name="date">
    <label class="mdl-textfield__label" for="date">Date</label>
    </div>
    <br>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input class="mdl-textfield__input" type="time" id="time" name="time">
  <label class="mdl-textfield__label" for="time">Time</label>
  </div>
  <br>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
<input class="mdl-textfield__input" type="location" id="location" name="location">
<label class="mdl-textfield__label" for="location">Location</label>
</div>

        <h3> Upload Image</h3>
        <input type="file" name="pic" accept="image/*" value="image" style="align: center">



<br>

      <input class="form-control" type="submit" name="submit" value="Create Event" style="background-color:white"/>

  </form>

  </div>

<br>
<br>

  </body>

  </html>
