


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="icon" href="images/icon.png">

    <title>

      All Comments

    </title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="../stylesheets/v4/docs/assets/css/toolkit.css" rel="stylesheet">

    <link href="../stylesheets/v4/docs/assets/css/application.css" rel="stylesheet">

    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }
    </style>

  </head>



<body>
<br>
<br>

<div class="container-fluid rounded border">

<a href= "/mainFeed">

  <button class="btn btn-outline-primary btn-md">

    <strong>Go back to feed</strong> </button></a>

<img
  class="media-object d-flex align-self-start mr-3"
  src="assets/img/avatar-dhg.png">
<div class="media-body">
  <div class="media-heading">
    <small class="float-right text-muted">{{item.date}} {{item.time}} </small>
    <h6>{{item.author.get().fullname}}</h6>
  </div>

  <p>
   {{item.text}}
  </p>

  <div class="media-body-inline-grid" data-grid="images">
    <div style="display: none">
      <img data-action="zoom" data-width="1050" data-height="700" src="assets/img/unsplash_1.jpg">
    </div>

    <br>
  <ul class="media-list mb-2" style = "margin-left: 20px">
      {% for comment in item.allComments: %}
    <li class="media mb-3">

      <div class="media-body">
        <strong>@{{comment.get().author.get().fullname}}</strong><br>
         {{comment.get().commentText}}
      </div>
    </li>
    {% endfor %}



        </div>
      </div>
  </div>




<script src="../stylesheets/v4/docs/assets/js/jquery.min.js"></script>
<script src="../stylesheets/v4/docs/assets/js/tether.min.js"></script>
<script src="../stylesheets/v4/docs/assets/js/chart.js"></script>
<script src="../stylesheets/v4/docs/assets/js/toolkit.js"></script>
<script src="../stylesheets/v4/docs/assets/js/application.js"></script>

    <script>
      // execute/clear BS loaders for docs
      $(function(){
        if (window.BS&&window.BS.loader&&window.BS.loader.length) {
          while(BS.loader.length){(BS.loader.pop())()}
        }
      })
    </script>
  </body>
</html>
