<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="icon" href="images/icon.png">

    <title>

      All Comments

    </title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="../stylesheets/v4/docs/assets/css/toolkit.css" rel="stylesheet">

    <link href="../stylesheets/v4/docs/assets/css/application.css" rel="stylesheet">

    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }
    </style>

  </head>



<body>
<br>
<br>

<div class="container-fluid rounded border">

<a href= "/mainFeed">

  <button class="btn btn-outline-primary btn-md">

    <strong>Go back to feed</strong> </button></a>

<br>
<br>

<h2>How would you like to collaborate with {{event.author.get().fullname}} on {{event.title}}?</h2>

<form method="POST" action="/collaborate">
      <br>
<br>
  <label for="description">Collaboration description</label>
  <textarea type="text" id="description" name = "description" class="form-control" rows="6"></textarea>
  <input type = "hidden" name = "event" value = "{{urlsafeEvent}}"></input>

  <input type = "hidden" name = "collaborator" value = "{{urlsafeCollaborator}}"></input>
  <br>
  <br>
  <input class="form-control" type="submit" name="submit" value="Submit" style="background-color:gray"/>

  </form>

  <br>
  <br>


</div>
<script src="../stylesheets/v4/docs/assets/js/jquery.min.js"></script>
<script src="../stylesheets/v4/docs/assets/js/tether.min.js"></script>
<script src="../stylesheets/v4/docs/assets/js/chart.js"></script>
<script src="../stylesheets/v4/docs/assets/js/toolkit.js"></script>
<script src="../stylesheets/v4/docs/assets/js/application.js"></script>

    <script>
      // execute/clear BS loaders for docs
      $(function(){
        if (window.BS&&window.BS.loader&&window.BS.loader.length) {
          while(BS.loader.length){(BS.loader.pop())()}
        }
      })
    </script>
  </body>
</html>
