<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
      <title>Donate</title>
  </head>

  <body>
  <div class="form-group">
    <div class="container-fluid">
    <h1>Donate to this event!</h1>
    <form method="POST" action="/donate">
      <h3> How much would you like to donate?</h3>
      <input type = "number" name = "donation" value="donation" class="form-control"></input>
      <input type = "hidden" name = "event" value = "{{urlsafeEvent}}"></input>
      <input class="form-control" type="submit" name="submit" value="Submit donation" style="background-color:lightblue"/>
      <br>
    </form>
</div>
</div>
</body>
