<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
      <title>Donate</title>
  </head>

  <body>
  <div class="form-group">
    <h1>Donate to this event!</h1>
    <form method="POST" action="/donate">
      <h3> How much would you like to donate?</h3>
      <input type = "number"></input>
      <input class="form-control" type="submit" name="submit" value="Submit donation" style="background-color:lightblue"/>

</div>
</body>
