<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/meet.css">
    <title>Meet the Team</title>
  </head>
  <body>
    <div class="display">
    <img class= "TEAMIMAGE"
     src="images/IMG_8342.jpg"
     alt=""></img>
   </div>

     <p class= "display" style= "color: white;"><strong>OrgSpace </strong> </p>
     <p class = "display" style= "color: white;"> is brought to you by Tijesuni Oyeyemi(Tjay), <br> Daniela Velez and Samuel Sandoval</p>

    <div>
      <br>
      <div>
        <div class="MEMBERS">
        <img class= "DANIELA"
         src="images/IMG_1417.jpg"
         alt=""> </img>
       </div>
        <p class= "MEMBERS" style= "color: white;">Starting this fall, Daniela will be majoring in Computer Science at MIT. When Daniela is not delivering good ideas and she enjoys Petting her dog and playing the Piano.</p>
      </div>

      <div>
        <div class="MEMBERS">
        <img class= "SAM"
         src="images/IMG_26421.jpg"
         alt=""> </img>
       </div>
        <p class= "MEMBERS" style= "color: white;">Starting this fall, Samuel will be majoring in Engineering at CSU Fullerton. When Samuel is not busy, he is found running lighting at events, spending time at the beach, or going in the outdoors.</p>

      </div>
      <div>
        <div class="MEMBERS">
        <img class= "TJ"
         src="/images/IMG_0063.jpg"
         alt=""> </img>
       </div>
        <p class= "MEMBERS" style= "color: white;"> Starting this fall, Tjay will be majoring in Electrical Engineering at UC Davis. When Tjay is not  ,he enjoys playing the guitar and composing music.</p>
      </div>


    </div>
          <div>
            <!-- this should display our linked in , instagram and github repository links -->
          </div>
  </body>
</html>
