<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="images/icon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="stylesheets/style.css">

    <title>

      The Team

    </title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="stylesheets/toolkit.css" rel="stylesheet">

    <link href="stylesheets/application.css" rel="stylesheet">
    <link href="stylesheets/addStyle.css" rel="stylesheet">
    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }
    </style>

  </head>

    <!-- <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/meetTheTeam.css"> -->

  <body>
    <h1 class= "display">Meet the Team</h1>
    <br>
    <div class="display">
    <img class= "TEAMIMAGE"
     src="/images/IMG_8342.jpg"
     alt=""> </img>
   </div>

     <p class= "display" style= "color: black;"><strong>orgspace </strong> </p>
     <p class = "display" style= "color: blacl;"> is brought to you by Tijesuni Oyeyemi(Tjay), <br> Daniela Velez and Samuel Sandoval</p>

    <div>
      <br>
      <div>
        <div class="members">
        <img class= "daniela"
         src="/images/IMG_1417.jpg"
         alt=""> </img></div>
         <div class="btn btn-block btn-social btn-twitter">
           <a href="https://www.linkedin.com/in/danielavelez" id="members" class="btn-block btn-social btn-linkedin">LinkedIn</a></div>
        <p class= "members" style= "color: black;">Starting this fall, Daniela will be majoring in Computer Science at MIT. Daniela loves to sing Whoopdity Scoop, Scoopdity Whoop, Whoopdi Scoopdi Poop.</p>
        </div>


      <br>
      <div>
        <div class="members">
        <img class= "sam"
         src="/images/IMG_26421.jpg"
         alt=""> </img></div>
         <div class="btn btn-block btn-social btn-twitter">
           <a href="https://www.linkedin.com/in/samuel-sandoval-8055aa161" id="members" class="btn-block btn-social btn-linkedin">LinkedIn</a></div>
        <p class= "members" style= "color: black;">Starting this fall, Samuel will be majoring in Engineering at CSU Fullerton. When Samuel is not busy, he is found running lighting at events, spending time at the beach, or going in the outdoors.</p>

      </div>
      <br>
      <div>
        <div class="members">
        <img class= "tj"
         src="/images/IMG_0063.jpg"
         alt=""> </img></div>
         <div class="btn btn-block btn-social btn-twitter">
           <a href="https://www.linkedin.com/in/tijesuni-oyeyemi-749b35173" id="members" class="btn-block btn-social btn-linkedin">LinkedIn</a></div>
        <p class= "members" style= "color: black;"> Starting this fall, Tjay will be majoring in Electrical Engineering at UC Davis. When Tjay is not  ,he enjoys playing the guitar and composing music.</p>
      </div>


    </div>
          <div>
            <!-- this should display our linked in , instagram and github repository links -->
          </div>
  </body>
</html>
