<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Meet the Team</title>
  </head>
  <body>
    <img src="">
    Orgspace ..is brought to you by Tijesuni Oyeyemi(Tjay), Daniela Velez(Dani) and Samuel Sandoval(Sam).

    <div>
      <div>
        Starting this fall, Dani will be majoring in Computer Science at MIT. When Dani is not delivering good ideas and she enjoys Petting her dog and playing the Piano.
      </div>
      <div>
        Starting this fall, Tjay will be majoring in Electrical Engineering at UC Davis. When Tjay is not  ,he enjoys playing the guitar and composing music.
      </div>
      <div>
        Starting this fall, Sam will be majoring in Engineering at CSU Fullerton. When Sam is not seting up sounds and lighting for events, he enjoys surfing.

      </div>

    </div>
          <div>
            <!-- this should display our linked in , instagram and github repository links -->
          </div>
  </body>
</html>
