<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/icon.png">

    <title>

        Profile &middot;

    </title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="stylesheets/toolkit.css" rel="stylesheet">

    <link href="stylesheets/application.css" rel="stylesheet">
    <link href="stylesheets/addStyle.css" rel="stylesheet">


    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }
    </style>

  </head>
  <body>


          </nav>
        </div>
      </header>





      </div>
    </div>
    </div>

<body class="with-top-navbar">
<nav class="navbar navbar-toggleable-sm fixed-top navbar-inverse bg-primary app-navbar">
  <a class="navbar-brand" href="/mainFeed">
    <img src="images/orgspace_white.png" style ="position:relative; top:-5px;"alt="brand">
  </a>

  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/mainFeed">Main Feed <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/organizationProfilePage?profile={{profile.key.urlsafe()}}">Profile Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{signout_link}}">Log out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signupprofile">Make Account</a>
      </li>
    </ul>

    <ul id="#js-popoverContent" class="nav navbar-nav float-right mr-0 hidden-sm-down">

      <li class="nav-item ml-2">
        <button class="btn btn-default navbar-btn navbar-btn-avatar" data-toggle="popover">
          <img class="rounded-circle" src="images/images.png">
        </button>
      </li>
    </ul>

    <ul class="nav navbar-nav hidden-xs-up" id="js-popoverContent">
      <li class="nav-item"><a class="nav-link" href="#" data-action="growl">Edit Profile</a></li>
      <li class="nav-item"><a class="nav-link" href="../login/index.html">Logout</a></li>
    </ul>
  </div>
</nav>


<div class="profile-header" style="background-image: url(images/profilebackground.jpg);">
  <div class="container">
    <div class="container-inner">
      <img class="rounded-circle media-object" src="images/images.png">
      <h3 class="profile-header-user">
      {{profile.fullname}}</h3>
      <p class="profile-header-bio">
      {{profile.bio}}
      </p>
      <p class="profile-header-bio"><span><strong>Category:</strong></span>
      {{profile.category}}
      </p><p class="profile-header-bio"><span><strong>Contact:</strong></span>
      {{profile.phone}}
      </p>
      {% if profile.isUser: %}
        <a role="button" type="submit" class="btn btn-primary" value="updateWindow" href="/updateProfile" style="color:black;">Update Profile</a>
      {% endif %}
    </div>
  </div>
</div>
<div class="container">


  

</div>


    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/js/tether.min.js"></script>
    <script src="scripts/js/chart.js"></script>
    <script src="scripts/js/toolkit.js"></script>
    <script src="scripts/js/application.js"></script>
    <script>
      // execute/clear BS loaders for docs
      $(function(){
        if (window.BS&&window.BS.loader&&window.BS.loader.length) {
          while(BS.loader.length){(BS.loader.pop())()}
        }
      })
    </script>
  </body>
</html>
