<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <img id="profile_pic" src="">
    <div id="profile_info">
      <ul>
        <li>Name: {{full_name}}</li>
        <li>Location:{{location}}</li>
        <li>Category: {{category}}</li>
        <li>Bio:{{bio}}</li>
        <li>Contact:{{phone}}</li>
      </ul>
    </div>
    <button type="submit" value="Update Profile">Update Profile</button>

  </body>
</html>
