


<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">


    <title>

        {{profile.fullname}}'s Page

    </title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="stylesheets/toolkit.css" rel="stylesheet">

    <link href="stylesheets/application.css" rel="stylesheet">
    <link href="stylesheets/addStyle.css" rel="stylesheet">


    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }
    </style>

  </head>

  <body>

    <a type="submit" value="backbutton" href="/mainFeed">Back</a>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="demo-layout-transparent mdl-layout mdl-js-layout">
      <header class="mdl-layout__header mdl-layout__header--transparent">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">OrgSpace</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation -->
          <nav class="mdl-navigation">

              <a class="mdl-navigation__link" href="/about">About</a>
              <a class="mdl-navigation__link" href="/">Main Feed</a>

          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">OrgSpace</span>
         <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/" >Main Feed</a>
          <a class="mdl-navigation__link" href="/addEvent">Add Event</a>
          <a class="mdl-navigation__link" href="/createPost">Create Post</a>
        </nav>
      </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <!-- Your content goes here -->

      <div id ="#profile_container">
          <div id ="profile_row">
            <img id="profile_pic" src="images/images.jpeg">
            <div id="profile_info">
              <ul>
                <li> Name: {{profile.fullname}}</li>
                <li>Location:{{profile.location}}</li>
                <li>Category: {{profile.category}}</li>
                {% if profile.bio %}
                <li>Bio:{{profile.bio}}</li>
                {% endif %}
                <li>Contact:{{profile.phone}}</li>
                <li> {{profile.usertype}} </li>
              </ul>
            </div>
          </div>
        </div>
      </div>


        {% if profile.isUser: %}
          <a type="submit" value="updateWindow" href="/updateProfile">Update Profile</a>
        {% endif %}

        <div id="event_row">
          <p>Next Event</p>
        </div>

        <footer class="mdl-mini-footer">
          <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">Title</div>
            <ul class="mdl-mini-footer__link-list">
              <li><a href="#">Help</a></li>
              <li><a href="#">Privacy & Terms</a></li>
              <li><a href="#" class="fa fa-facebook"></a></li>
              <li><a href="#" class="fa fa-twitter"></a></li>
            </ul>
          </div>
        </footer>



      </div>
    <div>
        {% if profile.isUser: %}
        <a type="submit" value="updateWindow" href="/updateProfile">Update Profile</a>
        {% endif %}
    </div>

<body class="with-top-navbar">
<nav class="navbar navbar-toggleable-sm fixed-top navbar-inverse bg-primary app-navbar">
  <a class="navbar-brand" href="/mainFeed">
    <img src="images/orgspace_white.png" style ="position:relative; top:-5px;"alt="brand">
  </a>

  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/mainFeed">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/organizationProfilePage">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/welcome">Welcome</a>
      </li>

      <li class="nav-item"><a class="nav-link" href="{{signout_link}}">Logout</a>
      </li>
    </ul>

    <ul id="#js-popoverContent" class="nav navbar-nav float-right mr-0 hidden-sm-down">

      <li class="nav-item ml-2">
        <button class="btn btn-default navbar-btn navbar-btn-avatar" data-toggle="popover">
          <img class="rounded-circle" src="images/images.png">
        </button>
      </li>
    </ul>

    <ul class="nav navbar-nav hidden-xs-up" id="js-popoverContent">
      <li class="nav-item"><a class="nav-link" href="#" data-action="growl">Edit Profile</a></li>
      <li class="nav-item"><a class="nav-link" href="../login/index.html">Logout</a></li>
    </ul>
  </div>
</nav>


<div class="profile-header" style="background-image: url(images/profilebackground.jpg);">
  <div class="container">
    <div class="container-inner">
      <img class="rounded-circle media-object" src="images/images.png">
      <h3 class="profile-header-user">
      {{profile.fullname}}</h3>
      <p class="profile-header-bio">
      {{profile.bio}}
      </p>
      <p class="profile-header-bio"><span><strong>Category:</strong></span>
      {{profile.category}}
      </p><p class="profile-header-bio"><span><strong>Contact:</strong></span>
      {{profile.phone}}
      </p>
      {% if profile.isUser: %}
        <a role="button" type="submit" class="btn btn-primary" value="updateWindow" href="/updateProfile" style="color:black;">Update Profile</a>
      {% endif %}
    </div>
  </div>
</div>
<div class="container">

    <div id="event">
        <h3>Upcoming Events</h3>
        <p></p>
    </div>

</div>


    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/js/tether.min.js"></script>
    <script src="scripts/js/chart.js"></script>
    <script src="scripts/js/toolkit.js"></script>
    <script src="scripts/js/application.js"></script>
    <script>
      // execute/clear BS loaders for docs
      $(function(){
        if (window.BS&&window.BS.loader&&window.BS.loader.length) {
          while(BS.loader.length){(BS.loader.pop())()}
        }
      })
    </script>
  </body>
</html>
