<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
      <title>Comment</title>
  </head>

  <body>
  <div class="form-group">
    <div class="container-fluid">
    <h3>Comment on {{user.fullname}}'s post:</h3>
    <form method="POST" action="/postComment">
      <textarea type = "text" name = "commentText" value="commentText" class="form-control"></textarea>
      <input type = "hidden" name = "item" value = "{{urlsafeItem}}"></input>
      <input class="form-control" type="submit" name="submit" value="Post comment" style="background-color:lightblue"/>
      <br>
</div>
</div>
</body>
