<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
      <title>Join!</title>
  </head>

  <div class="container-fluid">
<h1 style="text-align:center;"><strong> Search Results</strong></h1>
  <body>
    <form method= "GET" action= "/searchresults">
      <div>
        <label> Category:
          <select class="" name="category" placeholder={{category}}>
            <option class="" disabled="" value="-1">Choose a category</option>
            <option>Accidents &amp; Emergencies</option>
            <option >Animals &amp; Pets</option>
            <option >Children &amp; Family</option>
            <option >Business &amp; Entrepreneurs</option>
            <option >Community &amp; Neighbours</option>
            <option >Creative Arts, Music &amp; Film</option>
            <option >Volunteer &amp; Service</option>
            <option >Dreams, Hopes &amp; Wishes</option>
            <option >Education &amp; Learning</option>
            <option >Medical, Illness &amp; Healing</option>
            <option >Missions, Faith &amp; Church</option>
            <option >Sports, Teams &amp; Clubs</option>
            <option >Travel &amp; Adventure</option>
            <option >Other</option>
          </select>
        </label>
      <div>
          <input type= "hidden" name= "search_query" value="{{search_query}}"></input>
          <input type= "submit" name= "submit"> </input>

      </div>
    </form>

    <ul>
    {% for profile in profiles %}
        <li> {{profile.fullname}} - {{profile.category}}<br>
        <a href= "/profilePage?profile={{profile.key.urlsafe()}}" > View Profile
        </a></li>
    {% endfor %}
  </ul>
<!-- POSSIBLE FOR LOOP, LINK PROFILES -->


  </body>

  <br>

</html>
