<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
      <title>Main Feed</title>
  </head>
<h1> Sign Up</h1>
  <body>


      <form method="POST" action="/mainhandler">
          <label> Full Name(of Organization):
          <input type="text" name="fullname">
          </label>
          <label> Email:
          <input type="text" name="email">
          </label>
          <label> Password:
          <input type="text" name="password">
          </label>
          <label> Location:
          <input type="text" name="location">
          </label>
          <label> Category:
          <input type="text" name="category">
          </label>
          <label> Phone:
          <input type="integer" name="phone">
          </label>
          <label> User Type: Organization
          <input type="radio" name="organization" value = "organization">
          </label>
          <label>  User Type: User
          <input type="radio" name="organization" value = "user" >
          </label>
          <input type="submit">
          </form><br><br>

  </body>
  <br>

</html>
