<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
      <title>Thank you</title>
  </head>

  <body>
    <div class="container-fluid">
    <h2>You have donated {{donation}} dollars. Thank you for your donation!</h2>
    <!-- Raised button with ripple -->
    <a href='/'>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
      Go back to feed
    </button>
    </a>
    <a href='/donatePost?postItem={{postItem.key.urlsafe()}}'>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" >
      Donate more
    </button>
    </a>
    <br>
    <br>
</div>
  </body>
</html>
