<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <img id="profile_pic" src="images/images.jpeg">
    <button type="submit" value="change_photo">Change Profile Photo</button>

      <div class="form-group">
        <form method="POST" action="/updateProfile">
          <ul>
            <li>Name:</li>
            <li>Location:</li>
            <li>Category:</li>
            <li>Bio:</li>
            <li>Contact:</li>
          </ul>
        </form>
      </div>

    <button type="submit" value="Submit" >Update</button>

  </body>
</html>
