<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <title>Update</title>
  </head>
  <body>
    <img id="profile_pic" src="">
    <button type="submit" value="change_photo">Change Profile Photo</button>
    <div id="profile_info">
      <ul>
        <div class="flex-signup">
            <div><form method="POST" action="/mainhandler">
              <label  style="color:black";> Full Name:
                <input type="text" name="fullname">
              </label></div>
              <div><label style="color:black"; style="font-size:300%";> Password:
                <input type="text" name="password">
              </label></div>
              <div><label  style="color:black";> Location:
                <input type="text" name="location">
              </label></div>
              <div><label  style="color:black";> Category:
                <input type="text" name="category">
              </label></div>
              <div><label  style="color:black";> Phone:
                <input type="integer" name="phone">
              </label></div>
              <div><label> Bio:
                <input type = "text" name = "bio">
                <button style="50%"type="submit" value="Submit">Update</button></div>
              </form><br><br>

      </ul>
    </div>
  </body>
</html>
