<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <title>Update</title>
  </head>
  <body>
    <img id="profile_pic" src="images/images.jpeg">
    <button type="submit" value="change_photo">Change Profile Photo</button>
    <div id="profile_info">
      <ul>
        <div class="flex-signup">
                <form method="POST" action="/updateProfile">
                  <div>
                    <label>Name: {{profile.fullname}}

                    </label>
                  </div>

                  <div>
                    <label> Location:
                    <input type="text" name="location" placeholder={{location}}>
                    </label>
                  </div>

                  <div>
                    <label> Category:
                      <select class="" name="category" placeholder={{category}}>
                        <option class="" disabled="" value="-1">Choose a category</option>
                        <option>Accidents &amp; Emergencies</option>
                        <option >Animals &amp; Pets</option>
                        <option >Children &amp; Family</option>
                        <option >Business &amp; Entrepreneurs</option>
                        <option >Community &amp; Neighbours</option>
                        <option >Creative Arts, Music &amp; Film</option>
                        <option >Volunteer &amp; Service</option>
                        <option >Dreams, Hopes &amp; Wishes</option>
                        <option >Education &amp; Learning</option>
                        <option >Medical, Illness &amp; Healing</option>
                        <option >Missions, Faith &amp; Church</option>
                        <option >Sports, Teams &amp; Clubs</option>
                        <option >Travel &amp; Adventure</option>
                        <option >Other</option>
                      </select>
                    </label>
                  </div>

                  <div>
                    <label> Phone:
                    <input type="number" name="phone">
                    </label>
                  </div>

                  <div>
                    <label> Bio:
                    <input type = "text" name = "bio">
                    </label>
                  </div>

                  <br>
                    <button type="submit" value="updateProfile">Update Profile</button>
                </form>

      </ul>
    </div>
  </body>
</html>
